/deep/ app-search-result {
	width: 60%;
}

div.products {
}

.card {
	width: 320px;
  max-width: 320px;
  margin: 10px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}