/deep/ app-shopping-cart {
	width: 64%;
}

table {
	width: 100%;

	th,
	td {
		text-align: center!important; 
	  vertical-align: middle!important;
	}

	/deep/ .mat-column-quantity {
		width: 18%;
	}

	/deep/ .mat-column-name {
		width: 25%;
	}

	/deep/ .mat-column-remove-all {
		width: 6%;
	}

	/deep/ .mat-column-price {
		width: 25%;
	}
}

div.buy-summary {
	
	margin: 30px 0 0 0;
	float: right;
	
	div.proceed-buy-container {
		width: 100%;
	  display: flex;

	  p.final-price {
	    padding: 0 0 0 90px;
	  }

	  p > span.price {
	  	font-weight: 600;
	  }
	}
}

